<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Ion-buttons for placing items (like a back button) at the start of the toolbar -->
    <ion-buttons slot = "start">
      <!-- The back button allows the user to navigate back to the previous page -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- Title displayed on the toolbar (page name or title) -->
    <ion-title>munster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">munster</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Image representing the flag of Munster -->
  <img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Flag_of_Munster.svg">
</ion-content>
