<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Provinces of Ireland
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
<!-- Container div for the list of provinces -->
  <div id="container">
     <!-- Unordered list of provinces (navigation links) -->
    <ul>
       <!-- Each list item has a routerLink for navigation to a specific province -->
      <li [routerLink] = "['/ulster']">Ulster</li>
      <li [routerLink] = "['/connacht']">Connacht</li>
      <li [routerLink] = "['/leinster']">Leinster</li>
      <li [routerLink] = "['/munster']">Munster</li>
      

    </ul>
  </div>
</ion-content>
